<!DOCTYPE html>

<html>
  
 <head>
		<title>Wings on Wheels</title>
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src='/script.js'></script>
	 
  <!--bootstrap linking -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>

<body>
<!--header-->
<header class="site-head">
			<div class="head_container">
				<div class="logo">
					<img src="https://i.im.ge/2022/07/26/FhwZSm.png">
				</div>
				<div class="menu" id="myTopnav">
					<ul>
						<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="openNav()">&#9776;</a>
						<li><a href="http://wings-on-wheels.herokuapp.com/">Home</a></li>
						<li><a href="order.html">Order Cycle</a></li>
						<li><a href="service.html">Call for Service</a></li>
            	                                <li><a href="achieve.html">Our Achievements</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="about.html">About</a></li>
						
					</ul>
				</div>
			</div>
		</header>
		<div id="mySidenav" class="sidenav">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			  <a href="">Home</a>
			  <a href="order.html">Order Cycle</a>
			  <a href="service.html">Service</a>
			  <a href="achieve.html">Our Achievements</a>
			  <a href="contact.html">Contact</a>
        <a href="about.html">About</a>
			  
		</div>


<!--BOOK AN APPOINTMENT-->
<div class="in-down">
<center><a href=""><button  id="book">Order Cycle</button></a> </center> 
</div>
  
<!--bootstrap carousel-->
  <div class="container">
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
      <li data-target="#myCarousel" data-slide-to="10"></li>
      
      </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://i.im.ge/2022/07/27/FiYz4S.jpg" style="width:100%;">
      </div>

      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiYk3y.jpg" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiYVTa.jpg" style="width:100%;"></div>
        
         <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiYpqz.jpg" style="width:100%;"></div>
        
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiYfLJ.jpg" style="width:100%;"></div>
      
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiYJzF.jpg" style="width:100%;"></div>
      
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiY4FK.jpg" style="width:100%;"></div>
      
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiYBj9.jpg" style="width:100%;"></div>
      
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiYGWX.jpg" style="width:100%;"></div>
      
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FibMT8.jpg" style="width:100%;"></div>
        
          
       <div class="item">
        <img src="https://i.im.ge/2022/07/27/FibQUh.jpg" style="width:100%;"></div>
         </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
 
<!--intro--> 
    <div class="in-down">
    <div class="intro">
      <h2>Wings on Wheels (WoW)</h2> 
      <p>content</p>
  </div></div>




<!--bicylcles-->
    <div id="special" class="specialities">
     <h2>Our Bicycles</h2>
      
      <!--bootstrap carousel-->
  <div class="container">
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
      <li data-target="#myCarousel" data-slide-to="10"></li>
      
      </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://i.im.ge/2022/08/06/FceuUq.IMG-20220720-121153.jpg" style="width:100%;">
      </div>

      <div class="item">
        <img src="https://i.im.ge/2022/08/06/FceO4P.IMG-20220720-121203.jpg" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="https://i.im.ge/2022/08/06/FcerTC.IMG-20220720-121114.jpg" style="width:100%;"></div>
        
         <div class="item">
        <img src="https://i.im.ge/2022/08/06/Fce2s1.IMG-20220720-121107.jpg" style="width:100%;"></div>
        
      <div class="item">
        <img src="https://i.im.ge/2022/08/06/FceF3p.IMG-20220720-121054.jpg" style="width:100%;"></div>
      
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiYJzF.jpg" style="width:100%;"></div>
      
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiY4FK.jpg" style="width:100%;"></div>
      
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiYBj9.jpg" style="width:100%;"></div>
      
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FiYGWX.jpg" style="width:100%;"></div>
      
      <div class="item">
        <img src="https://i.im.ge/2022/07/27/FibMT8.jpg" style="width:100%;"></div>
        
          
       <div class="item">
        <img src="https://i.im.ge/2022/07/27/FibQUh.jpg" style="width:100%;"></div>
         </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="content">
     </div></div>

<!---->
<div id="doctors" class="topd">
  <h2>Achievements Gallery</h2>

   <div class="contents">
     <div class="cards">
  <img src="https://i.im.ge/2022/08/06/FcGGq8.doc.jpg">
  <div class="containers">
  </div></div> 
     
<div class="cards">
  <img src="https://i.im.ge/2022/08/06/FceMzM.doc-21-page-0001.jpg">
  <div class="containers">
  </div></div> 
     
    <div class="cards">
  <img src="https://i.im.ge/2022/08/06/FcGeth.doc-7-page-0001.jpg">
  <div class="containers">
   </div></div> 
  </div> </div> <br> 
   
 
	
	
<!--MODAL VIDEO POP UP-->
	
	<!--saurabh chauhan-->
<div id="saurabh" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="test_fb_wrapper">
          <div class="test_fb_wrapper_responsive">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/pawanhospital/videos/485144972757807/" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </div> 
        </div>
      </div>
    </div>

  </div>
</div>

	
	<!--anil 1-->
<div id="anil1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="test_fb_wrapper">
          <div class="test_fb_wrapper_responsive">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/pawanhospital/videos/990513464819221/" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </div> 
        </div>
      </div>
    </div>

  </div>
</div>
	
	<!--MAMTA-->
<div id="mamta" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="test_fb_wrapper">
          <div class="test_fb_wrapper_responsive">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/pawanhospital/videos/511280610320669/" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </div> 
        </div>
      </div>
    </div>

  </div>
</div>

	

	<!--vandana-->
<div id="vandana" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="test_fb_wrapper">
          <div class="test_fb_wrapper_responsive">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/pawanhospital/videos/350420659968075/" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </div> 
        </div>
      </div>
    </div>

  </div>
</div>

<!--sunil kumar-->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="test_fb_wrapper">
          <div class="test_fb_wrapper_responsive">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/pawanhospital/videos/2949542561994247/" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </div> 
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="test_fb_wrapper">
          <div class="test_fb_wrapper_responsive">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/pawanhospital/videos/485144972757807/" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </div> 
        </div>
      </div>
    </div>

  </div>
</div>
 
 
 
<!--footer-->
  <footer class="footer">
<!--    <p>Connect with us...</p>
    <div class="sicons">
       <a id="fb" href="tel:+918510008079"><img id="what" src="https://image.flaticon.com/icons/png/512/724/724664.png"></a>
       <a href="https://www.facebook.com/profile.php?id=100056197357410"><img  id="fb" src="https://image.flaticon.com/icons/png/512/1312/1312139.png"></a>
       <a href="https://www.instagram.com/p/CPdKXnJnwJZ/?utm_medium=copy_link"><img id="ig" src="https://image.flaticon.com/icons/png/512/2111/2111463.png"></a> 
       <a href="https://twitter.com/hospital_pawan?s=08"> <img id="tw" src="https://image.flaticon.com/icons/png/512/179/179342.png"></a>
  </div> -->
  
    
    <a class="wow" href="order.html"><p>Order Bicycle</p></a>
    <a class="wow" href="service.html"><p>Call for Service</p></a>
    <a class="wow" href="achieve.html"><p>Achievements</p></a>
    <a class="wow" href="http://wings-on-wheels.herokuapp.com/"><p>Home</p></a>
    <a class="wow" href="about.html"><p>About</p></a>
    <a class="wow" href="contact.html"><p>Contact</p></a>
    
    
   <p> &copy Wings on Wheels (WoW), 2022 All Rights Reserved <br>
    Site Developed and Maintained by Vikas TechLab</p>
  </footer>
  
 
	<script src="script.js"></script>
</body>
  </html>
